
<div class="jumbotron" style="margin-left: 20px;margin-right: 20px ">
    <div class="row">
        <div class="col-sm-4">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">MR. {{dossier.name + " " + dossier.last_name}}</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <h4 class="col-xs-12">code : {{dossier.id}}</h4>
                        <h4 class="col-xs-12">Cree le : {{dossier.created_at | date}}</h4>
                    </div>
                    <div class="row">
                        <h4 class="col-xs-12">Date naissance : <span ng-if="dossier.birthday != '0000-00-00'">{{dossier.birthday | date}}</span> </h4>
                        <h4 class="col-xs-12">age : todo</h4>
                    </div>
                    <h4>Adresse : {{dossier.adresse}} </h4>
                    <h4>Email : {{dossier.email}} </h4>
                    <h4>Tel : <span ng-if="dossier.tel != 0">{{dossier.tel}}</span> </h4>
                    <h4>Derniere visite :  todo </h4>
                </div>
            </div>

            <div class="row sample shadow-z-2">
                <div class="col-xs-12"><p>Montant du : {{total_soin - total_reglement}}</p></div>
                <div class="col-xs-12"><p>Montant soin : {{total_soin}}</p></div>
                <div class="col-xs-12"><p>Avoirs : {{total_reglement}}</p></div>
            </div>
        </div>


        <div class="col-sm-8">


            <table class="table table-striped table-hover ">
                <thead>
                <tr>
                    <th>type</th>
                    <th>libelle</th>
                    <th>praticien</th>
                    <th>date</th>
                    <th>action</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="item in list | orderBy:'-created_at'" class="{{item.type}}">
                    <td>{{item.type}}</td>
                    <td>{{item.label}}</td>
                    <td>{{item.praticien_id}}</td>
                    <td>{{item.created_at | date}}</td>
                    <td>
                        <a href="javascript:void(0)" class="btn btn-info btn-raised btn-xs bm">Voir</a>
                        <a ng-click="edit(item)" class="btn btn-primary btn-raised btn-xs bm">Edit</a>
                        <a ng-click="view(item)" class="btn btn-danger btn-raised btn-xs bm">Delete</a>
                    </td>
                </tr>

                </tbody>
            </table>

        </div>

    </div>

</div>

<!-- modal element -->
<add-reglement></add-reglement>
<edit-reglement></edit-reglement>

<add-commenter></add-commenter>
<edit-commenter></edit-commenter>

<add-soin></add-soin>


<edit-dossier></edit-dossier>


<script>
    initMaterial();
</script>