<div class="jumbotron" style="margin-left: 20px;margin-right: 20px ">
    <div class="row">
        <div class="container-fluid">
            <form class="form-horizontal">
                <fieldset>
                    <div class="form-group">

                        <div class="col-sm-4 b">
                            <input ng-model="search.name" class="form-control floating-label" id="nom" placeholder="Nom">
                        </div>

                        <div class="col-sm-4 b">
                            <input ng-model="search.last_name" class="form-control floating-label" id="prenom" placeholder="Pr&#232;nom">
                        </div>

                        <div class="col-sm-4 b">
                            <input ng-model="search.id" class="form-control floating-label" id="code" placeholder="Code">
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
    <hr>
    <div style="max-height:370px;overflow:auto;">

        <table class="table table-striped table-hover">
            <thead>
            <tr>
                <th>code</th>
                <th>Patient</th>
                <th>date de naissance</th>
                <th>action</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="dossier in dossiers | filter:search:strict">
                <td>{{dossier.id}}</td>
                <td>{{dossier.name + " " + dossier.last_name}}</td>
                <td><div ng-if="dossier.birthday != '0000-00-00'">{{dossier.birthday | date}}</div></td>
                <td>
                    <a href="" class="btn btn-success btn-raised btn-xs bm">Ouvrir</a>
                </td>
            </tr>
            </tbody>
        </table>

    </div>

    <!--
    <div style="text-align: center">
        <ul class="pagination">
            <li class="disabled"><a href="javascript:void(0)">&#60;&#60;</a></li>
            <li class="active"><a href="javascript:void(0)">1</a></li>
            <li><a href="javascript:void(0)">2</a></li>
            <li><a href="javascript:void(0)">3</a></li>
            <li><a href="javascript:void(0)">4</a></li>
            <li><a href="javascript:void(0)">5</a></li>
            <li><a href="javascript:void(0)">&#62;&#62;</a></li>
        </ul>
    </div>
    -->

</div>

<script>
    initMaterial();
</script>