<div class="jumbotron" style="margin-left: 20px;margin-right: 20px ">

    <div class="row">
        <div class="col-xs-6"><p>Total du jour : {{total}} </p></div>
        <div class="col-xs-6"><p>changer <input type="date" ng-model="date" ng-change="update_date(date)"></p></div>
    </div>

    <table class="table table-striped table-hover">
        <thead>
        <tr>
            <th>code</th>
            <th>Patient</th>
            <th>date de naissance</th>
            <th>montant</th>
            <th>action</th>
        </tr>
        </thead>
        <tbody>

        <tr ng-repeat="item in list">
            <td>{{item.patient_id}}</td>
            <td>{{item.name + " " + item.last_name }}</td>
            <td><div ng-if="item.birthday != '0000-00-00'">{{item.birthday | date}}</div></td>
            <td>{{item.label}}</td>
            <td>
                <a href="#/dossier/{{item.patient_id}}" class="btn btn-success btn-raised btn-xs bm">Ouvrir</a>
            </td>
        </tr>

        </tbody>
    </table>

</div>

<script>
    //todo remove to global
    initMaterial()
</script>
