<div class="modal fade" id="add-reglement" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
            <form name="reglement_form" novalidate>
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Entree un reglement:</h4>
                </div>

                <div class="modal-body">
                    <div class="row">

                        <div class="col-xs-12">
                            <div class="input-group">
                                <span class="input-group-addon" id="basic-addon1">Date</span>
                                <div class=" col-xs-4">
                                    <input type="date" class="form-control" ng-model="reglement.date">
                                </div>
                                <div class=" col-xs-4">
                                    <input type="time" class="form-control"  ng-model="reglement.time">
                                </div>

                            </div>
                        </div>

                    </div>

                    <br>

                    <div class="form-group">
                        <label for="aaa" class="control-label col-sm-2">montant</label>
                        <div class="col-sm-10">
                            <input type="number" id="aaa" class="form-control" ng-model="reglement.amount" required>
                        </div>
                    </div>

                </div>

                <br>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" ng-click="save_reglement(reglement)" ng-disabled="reglement_form.$invalid">Save</button>
                </div>

            </form>

        </div>
    </div>
</div>